// @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

// COLORS --------------------------------------

$color-black: #000;
$color-white: #fff;
$color-soft-white: #ddd;
$color-grey-dark: #777;

// Colors from palette:
// $color-yellow: #f7d002;
$color-yellow: #f5df63;
$color-blue-1: #6699cc;
$color-blue-2: #0d3b66;
$color-blue-3: #0a3053;
$color-blue-4: #1aebd9;
// $color-blue-4: rgb(31, 211, 224);

$color-orange: #fe7f2d;
$color-green: #008148;
$color-red-1: #dd1c1a;
$color-red-2: #f51818;
$color-white-1: #fdfffc;

// CARD DIMENTIONS --------------------------------------

$card-height-width: 12rem;
$card-height-width-40: 11rem;

// TABLE --------------------------------------------------
$table-gaps: 1rem;

// FONTS -------------------------------------------------

// $font-style-1: 'Montserrat', sans-serif;
// $font-style-1: 'Roboto Mono', monospace;
// $font-style-1: 'Work Sans', sans-serif;
// $font-style-1: 'Arimo', sans-serif;
$font-style-1: 'Baloo 2', cursive;
