.container-initial-screen {
  position: absolute;
  background-image: linear-gradient(
      to top,
      rgba(107, 45, 9, 0.603),
      rgba(0, 204, 255, 0.637)
    ),
    url(../../images/Imagen5.png);
  //   background-size: 120%;
  background-size: 120%;
  background-position: 10%;
  width: 100vw;
  height: 100vh;
  text-align: center;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //   transition: all 3s;
  //   display: none;

  //   &__image {
  //   }

  &__title {
    border-top: 2px solid $color-blue-1;
    border-bottom: 2px solid $color-blue-1;
    //  background-color: rgb(10, 10, 63);
    background-color: $color-blue-3;
    margin-bottom: 6rem;
    h1 {
      color: $color-blue-4;
      font-size: 8rem;
    }
  }

  &__start {
    width: 20rem;
    height: 8rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      background-color: $color-blue-3;
      padding: 1rem 5rem;
      // color: $color-orange;
      color: $color-blue-4;
      text-decoration: none;
      font-size: 4rem;
      // border: 2px solid $color-orange;
      border: 2px solid $color-yellow;
      border-radius: 5rem;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        color: $color-white-1;
        font-size: 4.03rem;
        border-color: $color-yellow;
        box-shadow: 0 0.5rem 0.5rem -0.2rem $color-yellow;
        transform: translateY(-0.25rem);
      }
    }
  }
}

.hide {
  display: none;
}
