*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: $font-style-1;
}

.position-rel {
  position: relative;
}

.position-ab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fl-col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.hide {
  display: none;
}
